{% extends 'emails/base.html.twig' %}
{% block content %}
<h2>Réservation annulée</h2>
<p>La réservation de <strong>{{ buyer_name }}</strong> pour l'animal <strong>{{ animal_title }}</strong> a été annulée.</p>
{% endblock %}
