{% extends 'emails/base.html.twig' %}
{% block content %}
<h2>Votre achat est finalisé ✓</h2>
<p>La remise de l'animal <strong>{{ animal_title }}</strong> a été confirmée par le vendeur. Nous espérons que tout s'est bien passé !</p>
<p>Vous pouvez maintenant laisser un avis sur votre expérience avec ce vendeur.</p>
{% endblock %}
