{% extends 'emails/base.html.twig' %}
{% block content %}
<h2>Votre compte vendeur est approuvé ✓</h2>
<p>Félicitations <strong>{{ seller_name }}</strong> ! Votre compte vendeur a été validé par notre équipe.</p>
<p>Vous pouvez désormais publier vos annonces sur Compawgnon.</p>
{% endblock %}
