{% extends 'emails/base.html.twig' %}
{% block content %}
<h2>Réinitialisation de votre mot de passe</h2>
<p>Vous avez demandé la réinitialisation de votre mot de passe. Cliquez sur le bouton ci-dessous.</p>
<p><a href="{{ reset_url }}" class="btn">Réinitialiser mon mot de passe</a></p>
<p style="color:#7a7a72;font-size:13px;">Ce lien expire dans {{ expires_in }}.</p>
{% endblock %}
