{% extends 'emails/base.html.twig' %}
{% block content %}
<h2>Votre annonce est en ligne ✓</h2>
<p>L'annonce <strong>{{ animal_title }}</strong> a été validée et est maintenant visible publiquement.</p>
{% endblock %}
