{% extends 'emails/base.html.twig' %}
{% block content %}
<h2>Message bien reçu ✓</h2>
<p>Bonjour <strong>{{ name }}</strong>,</p>
<p>Nous vous confirmons la bonne réception de votre message. Notre équipe vous répondra dans les plus brefs délais, généralement sous 48 heures ouvrées.</p>
<p>Merci de votre confiance,<br>L'équipe Compawgnon</p>
{% endblock %}
